#projects {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #fdfdfd 0%, #eff1f3 50%);
  /* background: #141414; */
  overflow: hidden;
}
.projectIntro {
  height: 60vh;
}
.bigBlueBox {
  position: absolute;
  width: 100vw;
  height: 60%;
  top: 0;
  left: 0;
  background: #e8e8e8;
}
.blueboxLeft {
  position: relative;
  float: left;
  width: 2%;
  height: 100%;
  background: #0018a1;
}
.blueboxRight {
  position: relative;
  float: left;
  width: 15%;
  height: 25vh;
  background: #0018a1;
}
.header {
  
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: .4s all;
}
.subHeader {

  font-size: 30px;
  font-weight: 100;
  margin-top: 0px;
  transition: .4s all;
  transition-delay: .2s;
}

.bottomLine {
  position: absolute;
  width: 100%;
  height: 10px;
  background: #0018a1;
  bottom: 0px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 10px 20px #00000044;
  transition: .2s all ease-in-out;
}

.projectWrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.labelC {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  
}
.label {
  /* font-size: 40px; */
  text-align: left;
  color:rgb(28, 28, 28);
}

.textC {
  width: 100%;
}
.techUsed {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  /* color: #ebedee; */
  /* margin-left: -15%;
  padding-left: 15%;
  padding-right: 15%; */
}
.techUsedHead {
  color:rgb(28, 28, 28);
  white-space: nowrap;
}
.icon {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.navicon {
  text-align: right;
  font-size: 60px;
  background: linear-gradient(100deg, #00c6ff, #0073ffc3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-html5 {
  background: linear-gradient(100deg, #EE9617, #FE5858 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-js {
  background: linear-gradient(100deg, #FFDD00, #FBB034 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.listCol{
  width: 40%;
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: solid 1px rgba(0, 0, 0, 0.34);
  padding-bottom: 10px;
}
.listRow {
  padding-right: -10px !important;
}
.listName {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: left;
  color: black;
}
.listExplain {
  float: left;
  width: 60%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background: white;
  margin-right: -15%;
  padding-right: 15%; */
}

.description {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}
.imgsContainer {
 width: 100%;

}
.imgContainer {
  /* position: absolute; */
  width: 100%;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;
}
.descriptionImg {
  width: 100%;
}

/* BUTTONS */
.demoButton {
  position: absolute;
  width: 190px;
  height: 80px;
  right: 0px;
  top: -90px;
  border-radius: 0px 0 0 0;
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.272);
  background: #ebedee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient( 100deg, #FF416C,#FF4B2B);
  z-index: 500;
  overflow: hidden;
  transition: box-shadow .2s, transform .2s ease-in-out;
}
.demoButton:hover{
  box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.272);
  transform: translateY(-10px)
}
.demoButton:visited {
  border: solid 1px #ebedee18;
}
.buttonContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ebedee;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.demoButton:hover .buttonContent{
  opacity: 0;
}
.buttonText {
  margin-left: auto;
  margin-right: auto;
  color: black;
  
}
.buttonTextHidden {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 0;
}


@media only screen and (max-width: 800px) {

  .techUsed {
    flex-direction: column;
  }

  .listCol {
    width: 100%;
    min-height: 280px;
    border-right: none;
  }
  .listName {
    text-align: left;
    padding-left: 8%;
  }
  .listExplain {
    width: 100%;
    padding: 0;
  }
}





.background {
  height: 100%;
  width: 100%;
}
.slider {
height: 100%;
height: 100%;
transition: .4s all;
display: inline-block;
overflow-wrap: unset;

}

.mainSlide {
    float: left;
    height: 100%;
    width: 40%;
    transition: .4s all;

}
.nextSlide {
    float: left;
    height: 100%;
    background: #0a0a0a;
    display: flex;
    justify-content: center;
}

.overflow {
  position: absolute;
  top: 0;
  left: 45%;
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}
.nextSlideWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    background: #0a0a0af0;
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: .4s all ease-in-out;
    
}





.vertCenter {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15%;
}

.mainLink {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(rgb(0, 191, 255), rgb(0, 119, 255));
}



.projectsHead {
  width: 50%;
  max-width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

  .githubLink {
    width: 45px;
    height: 45px;
      position: absolute;
      /* left: 22px; */
      bottom: 3.5%;
      border-radius: 50%;
      z-index: 7;
      background: transparent;
      mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
      
      
  }


  .githubLink:hover .iconColor{
      fill: rgb(0, 242, 255);
  }

@media screen and (max-width: 700px) {
  #projects {
  }
  #projects .projectsHead {
    width: 65%;
  }
  #projects .header {
    font-size: 55px;
  }

  #projects .subHeader {
    font-size: 24px;
    margin-top: -5px;
  }
  .nextSlide {
  }
  .overflow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }

  .nextSlideWrapper {
    width: 85%;
    margin-right: auto;
    flex-direction: column;
  }
  .projectImgC{
    left: 50%;
  }
  .projectImg {
    object-position: -350px;
  }
 .nextSlideWrapper :nth-child(1) { order: 2; }
 .nextSlideWrapper :nth-child(2) { order: 1; }
 
}