#projects {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #dbdbdb 0%, #ebedee 50%);
  
}
.projectWrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.labelC {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  
}
.label {
  /* font-size: 40px; */
  text-align: left;
  color:rgb(28, 28, 28);
}

.textC {
  width: 100%;
}
.techUsed {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* color: #ebedee; */
}
.techUsedHead {
  color:rgb(28, 28, 28);
  white-space: nowrap;
}
.icon {
  width: 40%;
  display: flex;
  justify-content: center;
}
.navicon {
  text-align: right;
  font-size: 80px;
  background: linear-gradient(100deg, #00c6ff, #0073ffc3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.listCol{
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.listRow {
  
}
.listName {
  width: 60%;
  line-height: 2.5em;
  text-align: left;
  color: black;
}






@media only screen and (max-width: 800px) {

  .techUsed {
    flex-direction: column;
  }

}





.background {
  height: 100%;
  width: 100%;
}
.slider {
height: 100%;
height: 100%;
transition: .4s all;
display: inline-block;
overflow-wrap: unset;

}

.mainSlide {
    float: left;
    height: 100%;
    width: 40%;
    transition: .4s all;

}
.nextSlide {
    float: left;
    height: 100%;
    background: #0a0a0a;
    display: flex;
    justify-content: center;
}

.overflow {
  position: absolute;
  top: 0;
  left: 45%;
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}
.nextSlideWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    background: #0a0a0af0;
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: .4s all ease-in-out;
    
}





.vertCenter {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15%;
}

.mainLink {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(rgb(0, 191, 255), rgb(0, 119, 255));
}

.demoButton {
  position: absolute;
  width: 150px;
  height: 8%;
  right: 80px;
  bottom: 40px;
  border: solid 1px #ebedee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.demoButton:visited {
  border: solid 1px #ebedee18;
}
.buttonContent {
  margin-left: auto;
  margin-right: auto;
  color: #ebedee;
}

.projectsHead {
  width: 80%;
  /* max-width: 650px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: auto;
}

.header {
    font-family: "MADE TOMMY";
    font-weight: 100;
    font-size: 80px;
    color: #ebedee;
    margin-bottom: 5%;
  }

.subHeader {
    text-align: left;
    font-family: "MADE TOMMY";
    font-weight: 100;
    font-size: 35px;
    color: #ebedee;
    margin-top: 0px;
  }

  .githubLink {
    width: 45px;
    height: 45px;
      position: absolute;
      /* left: 22px; */
      bottom: 3.5%;
      border-radius: 50%;
      z-index: 7;
      background: transparent;
      mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
      
      
  }


  .githubLink:hover .iconColor{
      fill: rgb(0, 242, 255);
  }

.projectImgC {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 45%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* margin-top: 5%; */
    object-fit: cover;
    z-index: 0;
}
.projectImg {
    height: 100%;
    box-shadow: 0 0px 100px rgba(127, 127, 127, 0.108);
    /* border-radius: 10px; */
}



.arrowC {
  width: 5%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.arrow,
.arrow:before {

float: left;
margin-left: auto;
margin-right: auto;
z-index: 5;
}
.arrow {
width: 40px;
height: 40px;
/* top: 45%; */
margin-left: 35px;
/* -webkit-transform: rotate(135deg); */
-webkit-transform: rotate(315deg);
transform: rotate(315deg);
border-left: none;
border-top: none;
border-right: 2px #0a0a0a solid;
border-bottom: 2px #0a0a0a solid;
transition: .4s all;
  
}

.arrow:before {
content: "";
width: 20px;
height: 20px;
/* top: 55%; */
margin: -10px 0 0 -10px;
border-left: none;
border-top: none;
border-right: 1px #0a0a0a solid;
border-bottom: 1px #0a0a0a solid;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-name: arrow;
}

@keyframes arrow {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
  transform: translate(-10px, -10px);
}
}



/* COVER PAGE */

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#coverBack {
  background: linear-gradient(180deg, #0a0a0a 10%, #111111 150%);
}

#cover .projectsHead {
  width: 50%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cover .header {
    font-family: "MADE TOMMY";
    font-weight: 100;
    font-size: 80px;
    color: #ebedee;
    margin-bottom: 5%;
    mix-blend-mode: difference;
  }
  #cover .subHeader {
    text-align: left;
    font-family: "MADE TOMMY";
    font-weight: 100;
    font-size: 35px;
    color: #ebedee;
    margin-top: 0px;
    mix-blend-mode: difference;
  }

.text {
  font-family: "MADE TOMMY";
  font-weight: 400;
  /* font-size: 25px; */
  color: #e9322e;
  margin-top: 0px;
}

@media screen and (max-width: 700px) {
  #projects {
  }
  #projects .projectsHead {
    width: 65%;
  }
  #projects .header {
    font-size: 55px;
  }

  #projects .subHeader {
    font-size: 24px;
    margin-top: -5px;
  }
  .nextSlide {
  }
  .overflow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
  }

  .nextSlideWrapper {
    width: 85%;
    margin-right: auto;
    flex-direction: column;
  }
  .projectImgC{
    left: 50%;
  }
  .projectImg {
    object-position: -350px;
  }
 .nextSlideWrapper :nth-child(1) { order: 2; }
 .nextSlideWrapper :nth-child(2) { order: 1; }
 
}