#memoryGame {
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 2;
}

#memoryGameBack {
    background: rgb(132, 0, 255);
}

@media screen and (max-width: 700px) {
    #memoryGame {
    }
    #memoryGame .learnMore {
        position: absolute;
        width: 85%;
        left: 0;
        padding-left: 8.5%;
        bottom: -350px;
        backdrop-filter: blur(100px);
        
        transition: bottom .4s ease-in-out;
    }
    #memoryGame .learnMore:hover {
        bottom: 20px;
    }
    #memoryGame .projectsHead {
      width: 100vw;
      height: 100vh;
      padding-top: 20vh;
    }
    #memoryGame .header {
      font-size: 50px;
      
    }
  
    #memoryGame .subHeader {
      font-size: 24px;
      margin-top: -5px;
      mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
      transition: mask-image 1s ease-in-out;
    
    }
    #memoryGame .learnMore:hover .subHeader{
        
        mask-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0));
    }
  }