#About {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  padding-left: 60px;
  padding-right: 60px;
  background: linear-gradient(180deg, #0a0a0a 42%, #0b0b0b2b 80%);
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-color: #ebedee;
  border-width: 5px;
}
#foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #0a0a0a 100%, #0b0b0b99 100%);
  z-index: -3;
}

.header {
    font-family: 'MADE TOMMY';
    font-weight: 100;
    font-size: 100px;
    color: #ebedee;
    width: 100%;
    margin-right: 60px;
}


.profileC {
  width: 30%;
  object-fit: scale-down;
  /* display: none; */
  z-index: -1;
}
#profilePic {
  width: 100%;
  margin-top: 60px;
}
.overlay {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at 50% 10%, rgba(255, 255, 255, 0.038) 20%, #0a0a0a );
  position: absolute;
  margin-left: -60px;
}


  .slider {
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 80%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #0a0a0a 0%, #0000000f 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    margin-left: -1px;
    margin-right: -1px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  .list {
    font-family: 'MADE TOMMY';
    font-size: 60px;
    color: #545454;
    margin: 6px;
    opacity: none;
}
#minimalism {
    /* background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 200;
    text-transform: uppercase;
}
#ux {
    background: -webkit-linear-gradient(100deg,#ee0979, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#visNar {
    background: -webkit-linear-gradient(100deg,#8E2DE2, #4A00E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px)  {
    #About {
        padding-left: 0px;
        /* padding-right: 0px; */
      }
      .header {
        font-size: 70px;
        padding-left: 60px;
    }
    .list {
        font-family: 'MADE TOMMY';
        font-size: 40px;
        color: #545454;
        margin: 6px;
    }
    .inline{
        display: flex;
        justify-content: space-around;
      }
      .profileC {
        display: block;
        margin-top: 50vh;
        top: 0;
        position: absolute;
        height:100%;
        width: 100%;
        object-fit: scale-down;
      }
      #profilePic {
        margin-top: 0px;
      }
      .slider {
        width: 100%;
        height: fit-content;
      }
      .flex-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .overlay {
        width: 100%;
        height: 100%;
        /* background: radial-gradient(ellipse at 20% 10%, rgba(255, 255, 255, 0.038) 20%, #0a0a0a ); */
        position: absolute;
        margin-left: 0px;
      }
}
@media screen and (max-width: 700px)  {
  
    .header {
        font-size: 60px;
        
    }
}


@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }


@media screen and (max-height: 700px)  {
  .slider::before, .slider::after {
    background: none;
  }

}
@media screen and (min-height: 800px)  {
  .slider::before, .slider::after {
    background: linear-gradient(to right, #0a0a0a 0%, #0000000f 100%);
  }

}
/* .grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "banner banner"
    "gLeft gRight"
    "gLeft gRight";
}
.gridBanner {
  grid-area: banner;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridLeft {
  grid-area: gLeft;
  background: #000000e2;
}
.gridRight {
  grid-area: gRight;
  background: #0a0a0a;
} */

