/* *{
  box-sizing: border-box;
} */

.listC {
  position: relative;
  /* background: #0a0a0a; */
  /* padding-bottom: 10%;
  padding-top: 10%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
height: 400px;
  width: 50vw;
  min-width: 350px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
    touch-action: pan-x;
  
}
.content {
  max-width: 80%;
  height: 100%;
  margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#item {
  
  transition: transform .4s, opacity .4s ease-in-out;
}
.active {
  transform: scale(1.2);
  
}
.next {
  transform: scale(.8);
  opacity: .8;
}

.prev {
  transform: scale(.8);
  opacity: .8;
  
}

  
  .project h1 {
    font-weight: bold;
    color: white;
    margin: 6px 0 12px;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .lineContainer {
    width: 220px;
    height: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #0018a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.217);
  }
  .vert {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .line {
    height: 1px;
    width: 100%;
    background: white;
  }
  .viewAllBtnTxt {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
  }

  .viewAll {
    width:90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
        justify-content: center;
  }
  .project-list {


 
   
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    transition: .4s all ease-in-out !important;
  }
  
  .project {
    position: relative;
    flex: 0 0 40%;
    height: 400px;
    width: 100%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
    transition: .4s all ease-in-out;
  }

  
  .project:nth-child(4n + 1),
  .project:nth-child(4n + 4) {
    flex: 0 0 50%;
    
  }
  
  .project:nth-child(odd) {
    padding-left: 0 !important;
  }
  
  .project:nth-child(even) {
    padding-right: 0 !important;
  }
  
  .project-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    pointer-events: none;
    will-change: position, max-height, border-radius;
    /* border-radius: 5px; */
   overflow: hidden;
   transition: box-shadow .04s ease-in-out;
  
  }
  
  .project-content-container.open {
    max-height: 90%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
    padding: 40px 0;
    border-radius: 0px;
  }
  
  .project-content {
    pointer-events: auto;
    position: relative;
    /* background: #1c1c1e; */
    background: linear-gradient(#D9D9D9, #F6F2F2);
    width: 100%;
    height: 100%;
    will-change: height, max-width;
    margin: 0 auto;
    box-shadow: 0 0 20px #00000037;
  }
  
  .open .project-content {
    height: 100%;
    max-width: 700px;
    overflow-x: hidden;
    overflow-y: scroll !important;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch !important;
    
  }
  
  .project-open-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
  
  }
  
  .project-image-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden ;
    height: 100%;
    max-height: 400px;
    width: 100%;
  }
.project-thumbnail{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.coverIcon {
  position: absolute;
  font-size: 320px;
  right: -30px;
  bottom: -30px;
  color:rgba(255, 255, 255, 0.155);
  transition: right .2s ease-in-out;
  will-change: margin, position;
}
.coverIcon.open {
  position: relative;
  font-size: 280px;
  margin-left: auto;
  margin-right: auto;
  color:rgba(255, 255, 255, 0.155);
}
.fa-map-marker-alt {
  right: -10px;
  bottom: -30px;
}

/* .bubble {
  position: relative;
  width:180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
 
} */

.bubble-FactCheck {
  background: linear-gradient(40deg, #00c6ff, #0073ffc3);
}
.thumbnail-FactCheck {
  background: linear-gradient(220deg, #00c6ff, #0073ffc3);
}
.bubble-TravelPins {
  background: linear-gradient(40deg, #FFDD00, #FBB034
  );
}
.thumbnail-TravelPins {
  background: linear-gradient(220deg, #FFDD00, #FBB034
  );
}

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .open .project-image-container,
  .open .title-container {
    z-index: 1;
  }
  
  .title-container {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 300px;
    will-change: top, left;
    /* width: 100%;
    height: 100%; */
  }
  
  .open .title-container {
    top: 30px;
    left: 30px;
  }


 
  .projectTitle {
    color: #fff;
    margin: 8px 0;
  }
  
  .category {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .overlay {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  
  .overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
  
    transform: translateX(-50%);
  }
  
  .content-container {
    padding: 435px 0px 35px 0px;
    max-width: 700px;
    width: 100%;
    margin-right: 0;
    
  }
  
  @media only screen and (max-width: 800px) {
    .listC {
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .project-list {
      margin-top: 5%;
     margin-left:auto;
      margin-right: auto;
      width: 90%;
    }
    .content {
      max-width: 75%;
      height: 400px;
    }
    .lineContainer {
      width: 140px;
      height: 70px;
    }
    .vert {
      display: none;
    }
    .project {
      flex: 0 0 40%;
      max-width: 50%;
      height: 300px !important;
    }
  
    .project:nth-child(4n + 1),
    .project:nth-child(4n + 4) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .project-content-container  {
      max-height: 100vh;
      border-radius: 10px;
      
    }
    .project-content-container.open  {
      max-height: 100vh;
      border-radius: 0;
      
    }
  }
  
  @media only screen and (max-width: 600px) {
    .project {
      flex: 1 0 100%;
      max-width: 100%;
      padding: 10px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      
    }
  
    .project:nth-child(4n + 1),
    .project:nth-child(4n + 4) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  
    .project-content-container.open {
      padding: 0;
      
    }
    .open .content-container{
      width: 100%;
      padding: 435px 35px 0px 0px;
      
    }
    .open .title-container {
      width: 100%;
      text-align: right;
      left: 50px;
      /* margin-right: -50px; */
      pointer-events: none;
    }
  }
  