#burgerEater {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
}

#burgerEaterBack {
    background: rgb(255, 200, 0);
}

@media screen and (max-width: 700px) {
    #burgerEater {
    }
    .learnMore {
        position: absolute;
        width: 85%;
        left: 0;
        padding-left: 8.5%;
        bottom: -15px;
        backdrop-filter: blur(100px);
        
        transition: bottom .4s ease-in-out;
    }
    .learnMore:hover {
        bottom: 40px;
    }
    #burgerEater .projectsHead {
      width: 100vw;
      height: 100vh;
      padding-top: 20vh;
    }
    #burgerEater .header {
      font-size: 50px;
      
    }
  
    #burgerEater .subHeader {
      font-size: 24px;
      margin-top: -5px;
      mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
      transition: mask-image 1s ease-in-out;
    
    }
    #burgerEater .learnMore:hover .subHeader{
        
        mask-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0));
    }
  }