.App {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  overscroll-behavior: none !important;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none !important;
  /* background: #0a0a0a; */
}
body {
  will-change: overflow-y;
}

#scroller {
  width: 100%;
  /* perspective: 1px;
  -webkit-perspective: 1px; */
  /* height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; */
  overscroll-behavior-y: none !important;
  transition: all ease-in-out;
  /* perspective-origin: 50% 50%; */

}
.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transform-origin: 50% 50%; */
}
.parallax-layer-base {
  transform: translateZ(0);

}
.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
 
}
.parallax-layer-deep {
  transform: translateZ(-2px) scale(3);

  
}

.nothing {
  height: 100vh !important;
  width: 100%;
  margin-top: 0%;
  /* background: linear-gradient(180deg, #0b0b0b2d 0%, #060606 50%); */
}
::-webkit-scrollbar {
  display: none;
}
:link {
  text-decoration: none;
  color: #0073ffc3;
}
:link:hover {
  color: red;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* color: #ebedee; */

.leftNav {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#fixed {
  /* position: fixed; */
  perspective: 0px;
  -webkit-perspective: 0px;
}
@media (max-width: 700px) {
  .header {
    font-size: 50px;
  }
  .subHeader {
    text-align: left;
    font-weight: 100;
    font-size: 25px;
  }

  .leftNav {
    padding-left: 18px;
  }
}

#test {
  position: fixed;
  background: white;
  color: red;
  font-size: 40px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

