#ImgBanner {
    position: relative;
    height: 80vh;
    width: 100%;
    margin-top: -10%;
}
.bannerImgC {
    height: 110%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bannerImg {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}
.overlayBox {
    height: 25%;
    width: 35%;
    position: relative;
    backdrop-filter: blur(20px);
    /* margin-left: 5%; */
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.06);
    border-right: 2px solid #0018a1;
    z-index: 2;
    background: white;
}
.overlayBox h1 {
    margin: 0;
}