#nav {
    width: 100%;
    position: absolute;
    top: 0;
    /* z-index: 10; */
}



 #navBackground {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: linear-gradient(100deg, #121212, #1c1c1c); */
    background: white;
    z-index: 10;
  }
  .navButton {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;
    top: 10%;
    width: 50px;
    height: 50px;
    background: transparent;
      /* mix-blend-mode: difference; */
      z-index: 11;
  }

  @media screen and (max-width: 800px)  {
    nav {
      z-index: 1;
    }
    .navButton {
      z-index: 2;
    }
  }