#nav {
    width: 100%;
    position: absolute;
    top: 0;
    /* z-index: 10; */
}



 #navBackground {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: linear-gradient(100deg, #121212, #1c1c1c); */
    background: white;
    z-index: 10;
  }
  .navButton {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: fixed;
    top: 10%;
    width: 50px;
    height: 50px;
    background: transparent;
      /* mix-blend-mode: difference; */
      z-index: 12;
  }

  @media screen and (max-width: 800px)  {
  }

  #navList,
#navItem {
  margin: 0;
  padding: 0;
  
}
.navListCol {
  width: 100%;
  position: fixed;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 11;
}
#navList {
  padding: 25px;
  position: relative;
  width: 230px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

#navItem {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navItemName {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0018a1;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

