#nav {
  height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    
}
nav {
    
    
  }
 #navBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(100deg, #121212, #1c1c1c);
    
  }
  .navButton {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 10%;
    /* left: 18px; */
    width: 50px;
    height: 50px;
    background: transparent;
      mix-blend-mode: difference;
      z-index: 11;
  }

  /* @media screen and (max-width: 800px)  {
    .leftNav {
      left: 18px;
    }

  } */