#banner {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background: #0018a1;
    z-index: 2;
}

.vertLine {
    min-height: 10vh;
    max-height: 20vh;
    width: 0px;
    border-left: solid 2px rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    transition: width .4s, padding-left .4s, margin-right .4s ease-in-out;
    overflow: visible;
}
.vertLineB {
    width: 0px;
    border-left: solid 1.6px black;
    margin-left: auto;
    margin-right: auto;
    background: black;
    transition: width .2s, margin-right .4s ease-in;
}
.bannerC {
    height: 100%;
    width: 100%;
}
.bannerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.bannerTitle {
    text-align: center;
    color: white;
    font-size: 48px;
}
.bannerSub {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    color: white;
}
.bannerText {
    text-align: center;
    color: white;
    font-size: 20px;
}
.arrowDown {
    /* box-sizing: border-box; */
  margin: 0;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  margin-left: auto;
    margin-right: auto;
    margin-top: -0px;
    background: transparent;
}

@media (max-width: 600px) {
    .bannerBox {
        width: 80%;
    }
    .bannerTitle {
        width: 95%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .bannerSub {
        margin: 0;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 200;
        margin-left: 0px;
        margin-bottom: 50px;
      
    }
    .bannerText {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 50px;
    }
}